{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Drivy - Users{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Utilisateur</h1>
</div>
<p>
{{ user.firstname }} {{ user.name }} : {{ user.email }}
</p>
<p>
voitures : 
	<ul>
	    {% for car in cars %}
		<li>
			voiture : 
			<a href="{{  url_for('rental.car', car_id=car.id) }}"> 
				{{ car.make }} {{ car.model }}, {{ car.description }} {{ car.price }}
			</a>
		</li>
		{% endfor %}
	</ul>
</p>
{% endblock %}

