{% extends "dashboard.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Drivy - Cars{% endblock %}


{% block page_content %}
{{ super() }}
<div class="page-header">
	<h1>Mes voitures</h1>
</div>
{% if cars %}
	<ul>
	    {% for car in cars %}
		<li>
			voiture : {{ car.make }} {{ car.model }}, {{ car.description }} {{ car.price }}
			<br>
			<a href="{{ url_for('dashboard.car', car_id=car.id) }}">
			Gerer mon annonce</a>
		</li>

		<br>
		{% endfor %}
	</ul>
{% else %}
	<p>Vous n'avez aucune voiture en location pour le moment</p>
	<a href="{{ url_for('dashboard.new') }}">Ajouter une voiture</a>
{% endif %}

{% endblock %}
