{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Drivy - Car Rental{% endblock %}


{% block page_content %}
<div class="page-header">
	<h1>Location de voiture</h1>
</div>
<ul>
    {% for car in cars %}
	<li>
		voiture : {{ car.make }} {{ car.model }}, {{ car.description }} {{ car.price }}
		<br>
		propriétaire :  <a href="{{ url_for('users.users', user_id=car.proprietor.id) }}">
		{{ car.proprietor.firstname }}</a>
	</li>
	<br>
	{% endfor %}
</ul>
{% endblock %}



